<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="nav-branding">LOGO</a>


            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="https://solarpanel.onrender.com/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="https://solarpanel.onrender.com/aboutus" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="https://solarpanel.onrender.com/contactus" class="nav-link">Contact Us</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <div class="aboutus">
        <div class="aboutus__title">
            <h3>We build, we transform and we connect</h3>
            <h5>We have worked for our esteemed clients since 2018 in green energy to their satisfaction and gained so much trust for the services delivered.
                We give a wide range of solar systems focused to meet the upcoming demands from our clients through expert services.
            </h5>
        </div>
        <div class="aboutus__content">
            <div class="aboutus__content-firstsection">
                <div class="aboutus__grid-aboutus">
                    <h3>Services</h3>
                    <p>Domestic Installations</p>
                    <p>Commercial Installations</p>
                    <p>Residential green & Flerge production</p>
                    <p>Solar backups for your homes and workplaces</p>
                    <p>Maintanance & after sale daily services</p>
                </div>
                <div class="aboutus__grid-aboutusimg1"></div>
                <div class="aboutus__grid-strategy">
                    <h3>Solar for life</h3>
                    <p>Green energy for a clean enviroment has no pollution</p>
                    <P>Uninterrupted power supply ideal for surgeries, board rooms, home cooling systems</P>
                    <p>Cut down cost of power</p>
                    <p>Increased capitalization</p>
                </div>
            </div>
            <div class="aboutus__content-secondsection">
                <div class="aboutus__grid-aboutusimg2"></div>
                <div class="aboutus__grid-mission">
                    <h3>Mission</h3>
                    <p> Our mission is to achieve a cleaner green energy for our customers</p>
                </div>
                <div class="aboutus__grid-aboutusimg3"></div>
            </div>
        </div>
    </div>
        <div class="footer">
            <div class="footer__location">
                <h3>Location</h3>
                <p>Kenya, Kisii County</p>
            </div>
            <div class="footer__contacts">
                <h3>Contact</h3>
                <p>+254704210143</p>
            </div>
            <div class="footer__followus">
                <h3>Follow Us</h3>
                <p>Facebook</p>
                <p>Twitter</p>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright &copy 2024 - Kiariga Solar Power Solutions</p>
        </div>
    <script src="/js/script.js" defer></script>
</body>
</html>