<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="nav-branding">LOGO</a>


            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="https://solarpanel.onrender.com/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="https://solarpanel.onrender.com/aboutus" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="https://solarpanel.onrender.com/contactus" class="nav-link">Contact Us</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <div class="aboutus">
        <div class="aboutus__title">
            <h3>We build, we transform and we connect</h3>
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium optio, eaque rerum!</h5>
        </div>
        <div class="aboutus__content">
            <div class="aboutus__content-firstsection">
                <div class="aboutus__grid-aboutus">
                    <h6>About Us</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                        obcaecati tenetur iure eius earum ut</p>
                </div>
                <div class="aboutus__grid-aboutusimg1"></div>
                <div class="aboutus__grid-strategy">
                    <h6>Our Srategy</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                        obcaecati tenetur iure eius earum ut</p>
                </div>
            </div>
            <div class="aboutus__content-secondsection">
                <div class="aboutus__grid-aboutusimg2"></div>
                <div class="aboutus__grid-mission">
                    <h6>Our Mission</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                        obcaecati tenetur iure eius earum ut</p>
                </div>
                <div class="aboutus__grid-aboutusimg3"></div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__location">
            <h3>Location</h3>
            <p>Kenya, Kisii County</p>
        </div>
        <div class="footer__contacts">
            <h3>Contact</h3>
            <p>+254700820076</p>
        </div>
        <div class="footer__followus">
            <h3>Follow Us</h3>
            <p>Facebook</p>
            <p>Twitter</p>
        </div>
    </footer>
    <script src="/js/script.js" defer></script>
</body>
</html>