<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="nav-branding">LOGO</a>


            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="http://localhost:3000/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost:3000/aboutus" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost:3000/contactus" class="nav-link">Contact Us</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <div class="contactus">
        <div class="contactus__contact">
            <div class="contactus__contact-location">
                <h3>Location</h3>
                <p>Kenya, Kisii County</p>
            </div>
            <div class="contactus__contact-social">
                <h3>Follow Us</h3>
                <div class="contactus__contact-social_icons">
                    <a href="http://"><i class='bx bxl-facebook-circle icon'></i></a>
                    <a href="http://"><i class='bx bxl-twitter icon' ></i></a>
                    <a href="http://"><i class='bx bxl-instagram-alt icon' ></i></a>
                </div>
            </div>
        </div>
        <div class="contactus__contactform">
            <h4>Contact Us</h4>
            <form class="contactus__contactform-form">
                <input class="contactus__contactform-form_name" type="text" placeholder="Enter your Name">
                <input class="contactus__contactform-form_email" type="text" placeholder="Enter your valid email address">
                <input class="contactus__contactform-form_message" type="text" placeholder="Enter your message">
                <button class="contactus__contactform-form_submit">Submit</button>
            </form>

        </div>
    </div>
    <footer class="footer">
        <div class="footer__location">
            <h3>Location</h3>
            <p>Kenya, Kisii County</p>
        </div>
        <div class="footer__contacts">
            <h3>Contact</h3>
            <p>+254700820076</p>
        </div>
        <div class="footer__followus">
            <h3>Follow Us</h3>
            <p>Facebook</p>
            <p>Twitter</p>
        </div>
    </footer>
    <script src="/js/script.js" defer></script>
</body>
</html>